igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/DispenseStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="DispenseStatus">
        <xs:sequence>
            <xs:element name="numberOfRemainingDispenses" type="xs:int" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Resterande antal uttag.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="totalQuantity" type="fhir:Quantity" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Den förskrivna totalmängden som beräknas när expedieringsunderlaget skapas. <br/>Mängden anges i förpackningsenheter, dvs. den enhet som förpackningen innehåller, t.ex. tabletter.<br/>Beräknas som (antal uttag) x (antal förpackningar som ska expedieras per uttag ) x (förpackningsmängd ).<br/>Anges ej för dosdispenserat.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="remainingQuantity" type="fhir:Quantity" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Resterande mängd som finns kvar på expedieringsunderlaget (i förpackningsenheter, t.ex. tabletter). <br/>Beräknas vid mottagande av expedieringsunderlaget samt vid expediering, borttag och kreditering.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="nextDispenseWithReimbursement" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Beräknas efter gjorda uttag och anger när patienten kan ta ut nästa uttag inom högkostnadsskyddet. Det går att hämta ut läkemedlet tidigare (om förskrivaren inte har angett ett expeditionsintervall) men patienten får då betala hela kostnaden.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="nextAllowedDispense" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Nästa tillåtna uttag om förskrivaren har angivit expedieringsintervall (i Expedieringsunderlag för helförpackning).</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="available" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Flagga för om expedieringsunderlaget är aktuellt.<br/>För att vara aktuellt måste det finnas uttag kvar och sista giltighetsdag får inte vara passerad. Det får heller inte vara makulerat, utsatt (endast dosdispenserat) omvandlat till pappersrecept (utskrivet).</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="medicalRecordStatus" type="tns:RecordStatusEnum" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Journalstatus för expedieringsunderlag som hämtas från RR <br/>{IN_NOD, NOT_IN_NOD}</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="changed" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Anger att senaste versionen av expedieringsunderlaget är förändrat på apotekssidan. <br/>(Se fältet Ordination.forandring i RDH)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
