igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/DispensedDrug.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="DispensedDrug">
        <xs:sequence>
            <xs:element name="dispenseId" type="xs:string" minOccurs="1" maxOccurs="1" >
            </xs:element>
            <xs:element name="dispenseDate" type="xs:date" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Datum för expediering på apotek.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="numberOfPackages" type="xs:int" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Antal förpackningar av utlämnad vara.<br/>Obligatorisk parameter om posten ej är en dosdispenserad artikel</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="numberOfTablets" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Summa antal avdelade doser inklusive enhet.<br/>Angiven om posten är en dosdispenserad artikel.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="removed" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Markering om posten är borttagen. Sant om posten är borttagen, annars falskt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="quantity" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Mängd i klartext</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dosage" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Dosering i klartext så som den returneras från LF (Krav på presentation i handboken)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="articleInformation" type="tns:ArticleInformation" minOccurs="0" maxOccurs="1" >
            </xs:element>
            <xs:element name="presciber" type="tns:MedicalPrescriber" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens namn, yrke, specialiteter och arbetsplats (Krav på presentation i handboken)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
