igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/MedicationDispenseCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="MedicationDispenseCase">
        <xs:sequence>
            <xs:element name="medicationDispenseAuthorizations" type="tns:MedicationDispenseAuthorization_virtual" minOccurs="1" maxOccurs="unbounded" >
                <xs:annotation> <xs:documentation>Beskriver en förskrivning och eventuellt ändrade versioner som gjorts på apotekssidan.<br/>Multipliciteten avser följaktligen eventuella versioner, inte den ursprungliga förskrivningen vilken alltid är exakt en. <br/>Utsättning och makulering på apotekssidan ger inga nya versioner, enbart förändring av expedieringsstatus.<br/>Ändrade versioner saknar initialt registreringsuppgifter. Först när ändringarna accepterats i NOD (AttachMedicationDispenseAuthorization) fylls dessa i.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="revocations" type="tns:Revocation" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation> <xs:documentation>Beskriver beslut om makulering av förskrivningen samt eventuella makuleringar som gjorts direkt i RR.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dispenseReference" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Identifierar motsvarande recept i RR. <br/>Då ett pappersrecept registreras i RR anges förskrivningens ursprungliga id. <br/>Kan vara ett UUID eller GUID. <br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="medicationPrescriptionSequenceId" type="fhir:Identifier" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Id på den Läkemedlelsbehandling som Expedieringsärendet hör till. <br/>Detta är nödvändigt för att kunna hantera Expedieringsärenden som fristående delar.<br/>Saknas då för s.k. ”lösa Expedieringsunderlag”, dvs. sådana som kommer från apotekssidan utan koppling till någon Läkemedlelsbehandling i NOD.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dispenseStatus" type="tns:DispenseStatus" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Se not 1.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dispensedDrugs" type="tns:DispensedDrug" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation> <xs:documentation>För att expedieringar anges endast för dos-patienter (från OR) och för övriga med samtycke till läkemedelsförteckningen i kombination med att expedieringar efterfrågas från NOD (i den aktuella tjänsten).<br/>Se även not 1.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
