igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/MedicationDispenseAuthorization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="MedicationDispenseAuthorization">
        <xs:sequence>
            <xs:element name="registrationData" type="tns:RegistrationData" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>id, registrerad av och registreringstidpunkt.<br/>Saknas initialt om ändringar gjorts på apotekssidan.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="id" type="fhir:Identifier" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Id på expedieringsunderlaget. Skapas av NOD-tjänsten (eller underliggande tjänster såsom av RR)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="medicationPrescriptionId" type="fhir:Identifier" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Id på ursprunglig läkemedelsordination oavsett om läkemedelsordinationen ursprungligen skapats i NOD eller i ett vårdsystem och skickats som e-recept till OR/RR. Expedieringsunderlag som återskapas på information från OR/RR kan sakna ordinationsid.<br/>Om expedieringsunderlaget skapas av vårdsystemet ”löst”, dvs. utan referens till en Läkemedelsordination i NOD, ska vårdsystemet ange ordinationsid (som separat argument) för spårbarhet och för att kunna upptäcka dubbletter.<br/>Om Läkemedelsordination finns i NOD skapas ordinationsid av NOD-tjänsten.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="prescriber" type="tns:MedicalPrescriber" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Sätts av NOD-tjänsten till inloggad användare (samma som registrerad av) för att säkerställa att förskrivaren är starkt autentiserad.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="patientInformation" type="tns:PatientInformation" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>I första hand ska svenskt personnummer användas. <br/>Vid Expedieringsunderlag för helförpackning gäller dessutom:<br/>Om samordningsnummer finns kan detta användas tillsammans med födelsetid.<br/>Expedieringsunderlag kan skapas även om både personnummer och samordningsnummer saknas, men då krävs att  födelsetid och kön anges.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="prescriptionWriteTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>(f.d. Ordinationstidpunkt)<br/>Tidpunkt då Expedieringsunderlaget skapas (vårdsystemets tid). <br/>När ett Expedieringsunderlag återskapas baserat på en befintlig förskrivning ska den ursprungliga tiden för förskrivning anges (i möjligaste mån).</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="prescriberComment" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens kommentar till farmaceut. <br/>Kommentaren skrivs ut på receptblanketten om e-receptet omvandlas till ett pappersrecept (dvs. skrivs ut på en receptblankett på apoteket)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="receivingPharmacy" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Apoteks-id (s.k. GLN-kod) om förskrivningen är direktadresserad.<br/>Mottagande apotek ska anges vid förskrivning av läkemedel typ 3 (narkotika osv). F.o.m. 2015-03-01 är detta dock inte nödvändigt vid iteration.<br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="deliveryMessage" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Leveransinformation om ordinationen skickas till ett ombud</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="treatmentEndTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Datum och tid när patienten skall avsluta intag.<br/>Fältet är endast relevant för dospatienter. Efter detta datum så får expedieringsunderlaget status UTSATT och går inte längre att expediera (helförpackning) eller produceras inte i påse (dosdispenserat). <br/>Mappas från Läkemedelsordination.utsättningstidpunkt</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="NPLPackid" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>NPL Pack-id alternativt SB Pack-id som identifierar läkemedelsartikel.<br/>Obligatorisk parameter om Varunr saknas. Om artikeln är ett läkemedel måste NPL Pack-id anges. <br/>Valideras i AFF.<br/>Om en Läkemedelsartikel angivits i Läkemedelsordination.ordinerat läkemedel måste attributvärdet överensstämma med dess NPL Pack.id.<br/>Mappas (vid Läkemedelsartikel) från Läkemedelsordination.ordinerat läkemedel.NPL Pack.id</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="NPLid" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>NPL-id alternativt SB-id som identifierar produkt.<br/>Obligatorisk parameter om Varunr saknas. Om artikeln är ett läkemedel måste NPL-id.<br/>Valideras i AFF.<br/>Om en Läkemedelsprodukt angivits i Läkemedelsordination.ordinerat läkemedel måste attributvärdet överensstämma dess NPL-id.<br/>Mappas (vid Läkemedelsprodukt) från Läkemedelsordination.ordinerat läkemedel.NPL-id</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="articleId" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Identitet på förskrivet livsmedel eller handelsvara.<br/>Obligatorisk parameter om NPL-id och NPL pack-id saknas. <br/>Om artikeln är ett läkemedel får inte varunr anges. Valideras i AFF.<br/>Mappas (vid Handelsvara) från Läkemedelsordination.ordinerat läkemedel.varunr</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dosageText1" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Instruktion till patienten. Skrivs ut på Mina sparade recept, doseringsetikett och vid utskrift av elektroniskt recept. <br/>Mappas från a) text som genereras baserat på Läkemedelsordination.dosering +b)  Läkemedelsordination.användning.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dosageText2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Kompletterande doseringstext till patienten<br/>Mappas från endera av<br/>Licensläkemedel.produktnamn/styrka/läkemedelsform/licensinformation <br/>eller <br/>Ex tempore. beskrivning</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="languageCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Främmande språk för doseringstext enligt ISO-639-1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="pupose" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>(Ändamål klartext)<br/>Mappas från Läkemedelsordination.behandlingsändamål</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="reimbursed" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivaren uppgift om ordinationen ska innefattas i förmånen.<br/>Falskt = Utan förmån<br/>Sant =Med förmån<br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="validUntil" type="xs:date" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Expedieringsunderlagets sista giltighetsdag. Detta får inte överskrida förskrivningstidpunkt + 1 år och en dag.<br/>Patienten med en läkemedelsordination med utsättningstid bortom sista giltighetsdag kommer då att behöva ett nytt expedieringsunderlag för att hämta ut medicinen.<br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MedicationDispenseAuthorization_virtual">
        <xs:sequence>
            <xs:element name="MedicationDispenseAuthorizationForDoseDispensing_attr" type="tns:MedicationDispenseAuthorizationForDoseDispensing" minOccurs="0" maxOccurs="1" >
            </xs:element>
            <xs:element name="MedicationDispenseAuthorizationForPackage_attr" type="tns:MedicationDispenseAuthorizationForPackage" minOccurs="0" maxOccurs="1" >
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MedicationDispenseAuthorization_setter">
        <xs:sequence>
            <xs:element name="prescriptionWriteTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>(f.d. Ordinationstidpunkt)<br/>Tidpunkt då Expedieringsunderlaget skapas (vårdsystemets tid). <br/>När ett Expedieringsunderlag återskapas baserat på en befintlig förskrivning ska den ursprungliga tiden för förskrivning anges (i möjligaste mån).</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="prescriberComment" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens kommentar till farmaceut. <br/>Kommentaren skrivs ut på receptblanketten om e-receptet omvandlas till ett pappersrecept (dvs. skrivs ut på en receptblankett på apoteket)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="receivingPharmacy" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Apoteks-id (s.k. GLN-kod) om förskrivningen är direktadresserad.<br/>Mottagande apotek ska anges vid förskrivning av läkemedel typ 3 (narkotika osv). F.o.m. 2015-03-01 är detta dock inte nödvändigt vid iteration.<br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="deliveryMessage" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Leveransinformation om ordinationen skickas till ett ombud</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="NPLPackid" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>NPL Pack-id alternativt SB Pack-id som identifierar läkemedelsartikel.<br/>Obligatorisk parameter om Varunr saknas. Om artikeln är ett läkemedel måste NPL Pack-id anges. <br/>Valideras i AFF.<br/>Om en Läkemedelsartikel angivits i Läkemedelsordination.ordinerat läkemedel måste attributvärdet överensstämma med dess NPL Pack.id.<br/>Mappas (vid Läkemedelsartikel) från Läkemedelsordination.ordinerat läkemedel.NPL Pack.id</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="NPLid" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>NPL-id alternativt SB-id som identifierar produkt.<br/>Obligatorisk parameter om Varunr saknas. Om artikeln är ett läkemedel måste NPL-id.<br/>Valideras i AFF.<br/>Om en Läkemedelsprodukt angivits i Läkemedelsordination.ordinerat läkemedel måste attributvärdet överensstämma dess NPL-id.<br/>Mappas (vid Läkemedelsprodukt) från Läkemedelsordination.ordinerat läkemedel.NPL-id</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="languageCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Främmande språk för doseringstext enligt ISO-639-1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="reimbursed" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivaren uppgift om ordinationen ska innefattas i förmånen.<br/>Falskt = Utan förmån<br/>Sant =Med förmån<br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="validUntil" type="xs:date" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Expedieringsunderlagets sista giltighetsdag. Detta får inte överskrida förskrivningstidpunkt + 1 år och en dag.<br/>Patienten med en läkemedelsordination med utsättningstid bortom sista giltighetsdag kommer då att behöva ett nytt expedieringsunderlag för att hämta ut medicinen.<br/>Valideras i AFF</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MedicationDispenseAuthorization_setter_virtual">
        <xs:sequence>
            <xs:element name="MedicationDispenseAuthorizationForDoseDispensing_setter_attr" type="tns:MedicationDispenseAuthorizationForDoseDispensing_setter" minOccurs="0" maxOccurs="1" >
            </xs:element>
            <xs:element name="MedicationDispenseAuthorizationForPackage_setter_attr" type="tns:MedicationDispenseAuthorizationForPackage_setter" minOccurs="0" maxOccurs="1" >
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
