igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/PatientInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="PatientInformation">
        <xs:sequence>
            <xs:element name="patientId" type="fhir:Identifier" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens personnummer eller samordningsnummer (fylls i från argument i tjänsteanropet)<br/>Endast om det är känt.<br/>PU: personid<br/>RR: personnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens förnamn.<br/>PU: förnamn. Alla förnamn med mellanslag emellan. Tilltalsnamnsmarkering anger vilket som används som tilltalsnamn.<br/>RR: förnamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="familyName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens efternamn.<br/>PU: efternamn <br/>RR: efternamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dateOfBirth" type="xs:date" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Födelsedatum (8 siffror).<br/>Anges för patient som saknar giltigt personnummer.<br/>Obligatoriskt att ange antingen personnummer eller födelsedatum på expedieringsunderlag.<br/>PU: födelsetid<br/>RR: födelsedatum</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="gender" type="tns:GenderEnum" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens kön.<br/>Obligatorisk parameter om Personnummer saknas. <br/>{Male, Female, Unspecified}<br/>PU: kön<br/>RR: kön</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="deliveryAdress1" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens gatuadress 1.<br/>PU: utdelningsadress1<br/>RR: adress1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="deliveryAdress2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens adress 2.<br/>PU: utdelningsadress2<br/>RR: adress2</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens postnummer.<br/>PU: postnr<br/>RR: postnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens postort.<br/>PU: postort<br/>RR: postort</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber1" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens telefonnummer 1.<br/>PU: saknas<br/>RR: telefonnummer1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens telefonnummer 2.<br/>PU: saknas<br/>RR: telefonnummer2</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PatientInformation_setter">
        <xs:sequence>
            <xs:element name="patientId" type="fhir:Identifier" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens personnummer eller samordningsnummer (fylls i från argument i tjänsteanropet)<br/>Endast om det är känt.<br/>PU: personid<br/>RR: personnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens förnamn.<br/>PU: förnamn. Alla förnamn med mellanslag emellan. Tilltalsnamnsmarkering anger vilket som används som tilltalsnamn.<br/>RR: förnamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="familyName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens efternamn.<br/>PU: efternamn <br/>RR: efternamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dateOfBirth" type="xs:date" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Födelsedatum (8 siffror).<br/>Anges för patient som saknar giltigt personnummer.<br/>Obligatoriskt att ange antingen personnummer eller födelsedatum på expedieringsunderlag.<br/>PU: födelsetid<br/>RR: födelsedatum</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="gender" type="tns:GenderEnum" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens kön.<br/>Obligatorisk parameter om Personnummer saknas. <br/>{Male, Female, Unspecified}<br/>PU: kön<br/>RR: kön</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="deliveryAdress1" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens gatuadress 1.<br/>PU: utdelningsadress1<br/>RR: adress1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="deliveryAdress2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens adress 2.<br/>PU: utdelningsadress2<br/>RR: adress2</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens postnummer.<br/>PU: postnr<br/>RR: postnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens postort.<br/>PU: postort<br/>RR: postort</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber1" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens telefonnummer 1.<br/>PU: saknas<br/>RR: telefonnummer1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Patientens telefonnummer 2.<br/>PU: saknas<br/>RR: telefonnummer2</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
