igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/PlaceOfWork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="PlaceOfWork">
        <xs:sequence>
            <xs:element name="unitPrescriptionCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens arbetsplatskod eller grupparbetsplatskod<br/>Unik kod för identifiering av ordinatörens arbetsplats vid förskrivningstillfället. <br/>Arbetsplatskoden anges, hos vissa vårdgivare, för att styra ekonomiska transaktioner vid ordinationer inom förmånen. Det är vårdgivarna som själva hanterar arbetsplatskoderna genom att registrera dem i EHM:s ARKO. <br/>Saknar ordinatören ordinarie arbetsplats anges en grupparbetsplatskod. <br/><br/>Obligatorisk parameter om förmån angivits.<br/>Valideras i AFF<br/>HSA: arbetsplatskod, även kallat unitPrescriptionCode.<br/>RR: arbetsplatskod</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="careUnitName" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens lokalitet (adress 1). Ej gatunummer. Exempelvis: Vårdcentralen Humlan eller Privat, Kirurgi/ortopedi<br/>HSA: enhetsnamn (careUnitName )<br/>RR: arbetsplatsnamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens postort. Exempelvis: HULTSFRED<br/>RR: arbetsplatsort</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber1" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens telefonnummer.<br/>HSA: direkttelefon <br/>RR: telefonnummer1</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber2" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens direktnummer Är information till apoteket och ska inte lämnas ut till patient.<br/>HSA: <br/>RR: telefonnummer2</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="postalAdress" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens gatuadress. Exempelvis: Storgatan 14B.<br/>HSA: postadress (postalAddress). Består av flera adressrader, som lämpligen konkateneras med komma som skiljetecken.<br/>RR: postadress</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens postnummer. Exempelvis: 123 45<br/>HSA: postnummer (postalCode)<br/>RR: postnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
