igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_nod/Revocation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="Revocation">
        <xs:sequence>
            <xs:element name="registrationData" type="tns:RegistrationData" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>id, registrerad av och registreringstidpunkt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="revocationCode" type="tns:RevocationEnum" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>1 = Fel patient<br/>2 = Fel läkemedel/vara /dosering/styrka/ändamål. Patienten informerad<br/>3 = Utsatt lm/Inaktuell medicinering. Patienten informerad<br/>4 = Annan orsak. Patienten informerad<br/>{1,2,3,4}<br/>Se även Läkemedelsordination.utsättningsorsak</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="revocationComment" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Fritextbeskrivning som preciserar makuleringsorsak som angivits som ”annan orsak”.<br/>Obligatorisk parameter för Orsakskod = 4<br/>Får ej anges för Orsakskod = 1, 2 eller 3.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="revocationConsent" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Inhämtat samtycke av patienten vid makulering. <br/>Måste anges till true då förskrivare makulerar Expedieringsunderlag med orsakskod 2, 3 eller 4.<br/>Ignoreras för dospatienter, eftersom de har samtyckt via dossamtycket.<br/>I användargränssnittet uttrycks samtycket som att ”patienten är informerad”.<br/>Notera att makulering av Expedieringsunderlag i vissa fall sker automatiskt som en nödvändig del för att realisera ändringar (t.ex. dosändringar) och utsättning i ordinationen.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="time" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Tidpunkt för makulering (då det skickades till RR). Sätts av NOD.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Revocation_setter">
        <xs:sequence>
            <xs:element name="revocationCode" type="tns:RevocationEnum" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>1 = Fel patient<br/>2 = Fel läkemedel/vara /dosering/styrka/ändamål. Patienten informerad<br/>3 = Utsatt lm/Inaktuell medicinering. Patienten informerad<br/>4 = Annan orsak. Patienten informerad<br/>{1,2,3,4}<br/>Se även Läkemedelsordination.utsättningsorsak</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="revocationComment" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Fritextbeskrivning som preciserar makuleringsorsak som angivits som ”annan orsak”.<br/>Obligatorisk parameter för Orsakskod = 4<br/>Får ej anges för Orsakskod = 1, 2 eller 3.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="revocationConsent" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Inhämtat samtycke av patienten vid makulering. <br/>Måste anges till true då förskrivare makulerar Expedieringsunderlag med orsakskod 2, 3 eller 4.<br/>Ignoreras för dospatienter, eftersom de har samtyckt via dossamtycket.<br/>I användargränssnittet uttrycks samtycket som att ”patienten är informerad”.<br/>Notera att makulering av Expedieringsunderlag i vissa fall sker automatiskt som en nödvändig del för att realisera ändringar (t.ex. dosändringar) och utsättning i ordinationen.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
