igs/TKB_clinicalprocess_healthcond_actoutcome/source/rivta-domains-riv.clinicalprocess.healthcond.actoutcome-f0eee8ac0f42/schemas/core_components/clinicalprocess_healthcond_actoutcome_3.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:clinicalprocess:healthcond:actoutcome:3" xmlns:codes="urn:riv:clinicalprocess:healthcond:actoutcome:enums:3" xmlns:m1="urn:riv:clinicalprocess:healthcond:actoutcome:3.1" targetNamespace="urn:riv:clinicalprocess:healthcond:actoutcome:3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.2">
	<xs:import namespace="urn:riv:clinicalprocess:healthcond:actoutcome:enums:3" schemaLocation="clinicalprocess_healthcond_actoutcome_enum_3.1.xsd"/>
	<xs:import namespace="urn:riv:clinicalprocess:healthcond:actoutcome:3.1" schemaLocation="./clinicalprocess_healthcond_actoutcome_3.1_ext.xsd"/>
	<!-- Common datatypes -->
	<xs:complexType name="PatientSummaryHeaderType">
		<xs:sequence>
			<xs:element name="documentId" type="xs:string"/>
			<xs:element name="sourceSystemHSAId" type="tns:HSAIdType"/>
			<xs:element name="documentTitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="documentTime" type="tns:TimeStampType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="patientId" type="tns:PersonIdType"/>
			<xs:element name="accountableHealthcareProfessional" type="tns:HealthcareProfessionalType"/>
			<xs:element name="legalAuthenticator" type="tns:LegalAuthenticatorType" minOccurs="0"/>
			<xs:element name="approvedForPatient" type="xs:boolean"/>
			<xs:element name="careContactId" type="xs:string" minOccurs="0"/>
			<xs:element name="nullified" type="xs:boolean" minOccurs="0"/>
			<xs:element name="nullifiedReason" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActType">
		<xs:sequence>
			<xs:element name="actId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="actCode" type="tns:ActCodeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="actText" type="xs:string"/>
			<xs:element name="actTime" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="actResult" type="tns:MultimediaType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActCodeType">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferralType">
		<xs:sequence>
			<xs:element name="referralId" type="xs:string"/>
			<xs:element name="referralReason" type="xs:string" minOccurs="1"/>
			<xs:element name="referralTime" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="referralAuthor" type="tns:HealthcareProfessionalType"/>
			<xs:element name="careContactId" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ECGReferralType">
		<xs:sequence>
			<xs:element name="referralId" type="xs:string"/>
			<xs:element name="referralReason" type="xs:string" minOccurs="0"/>
			<xs:element name="anamnesis" type="xs:string" minOccurs="0"/>
			<xs:element name="careContactId" type="xs:string" minOccurs="0"/>
			<xs:element name="accountableHealthcareProfessional" type="tns:HealthcareProfessionalType"/>
			<xs:element name="attested" type="tns:LegalAuthenticatorType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LegalAuthenticatorType">
		<xs:annotation>
			<xs:documentation>
                Information om signering
                
                signatureTime: 
                    Tidpunkt för signering, format ÅÅÅÅMMDDttmmss. 
                assignedEntity: 
                    Information om person som signerat dokumentet
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="signatureTime" type="tns:TimeStampType"/>
			<xs:element name="legalAuthenticatorHSAId" type="tns:HSAIdType" minOccurs="0"/>
			<xs:element name="legalAuthenticatorName" type="xs:string" minOccurs="0"/>
			<xs:element name="legalAuthenticatorRoleCode" type="tns:CVType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodType">
		<xs:annotation>
			<xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                    Startdatum på formatet ÅÅÅÅMMDD
                end: 
                    Slutdatum på formatet ÅÅÅÅMMDD
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="tns:DateType" minOccurs="0"/>
			<xs:element name="end" type="tns:DateType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- YYYYMMDD -->
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- @TODO Should we have maxlength 64? -->
	<xs:simpleType name="HSAIdType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="MultimediaType">
		<xs:sequence>
			<xs:element name="id" type="xs:string" minOccurs="0"/>
			<xs:element name="mediaType" type="codes:MediaTypeEnum"/>
			<xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
			<xs:element name="reference" type="xs:anyURI" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PQType">
		<xs:sequence>
			<xs:element name="value" type="xs:double"/>
			<xs:element name="unit" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimePeriodType">
		<xs:annotation>
			<xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                Startdatum på formatet YYYYMMDDhhmmss
                end: 
                Slutdatum på formatet YYYYMMDDhhmmss
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="end" type="tns:TimeStampType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TimeStampType">
		<xs:annotation>
			<xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
                
                The time has the format YYYYMMDDhhmmss
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MeasurementType">
		<xs:sequence>
			<xs:element name="code" type="tns:CVType"/>
			<xs:element name="value" type="tns:PQType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultType">
		<xs:annotation>
			<xs:documentation>
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resultCode" type="codes:ResultCodeEnum"/>
			<xs:element name="errorCode" type="codes:ErrorCodeEnum" minOccurs="0"/>
			<xs:element name="logId" type="xs:string"/>
			<xs:element name="subCode" type="xs:string" minOccurs="0"/>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HealthcareProfessionalType">
		<xs:annotation>
			<xs:documentation>
                Information om hälso- och omsorgspesonal
                
                healthcareProfessionalHsaId: 
                HSA-id för vård- och omsorgspersonal 
                healthcareProfessionalName
                Namn på vård- och omsorgspersonal
                healthcareProfessionalRoleCode: 
                Information om personens befattning. Om möjligt skall KV Befattning (OID 1.2.752.129.2.2.1.4), se 
                http://www.inera.se/Documents/TJANSTER_PROJEKT/Katalogtjanst_HSA/Innehall/hsa_innehall_befattning.pdf 
                healthcareProfessionalCareUnitHSAid: 
                HSA-id för PDL-enhet som vård- och omsorgspersonen är uppdragstagare för
                healthcareProfessionalCareGiverHSAid: 
                HSA-id för vårdgivaren, som är vårdgivare för den enhet som författaren är uppdragstagare för
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="authorTime" type="tns:TimeStampType"/>
			<xs:element name="healthcareProfessionalHSAId" type="tns:HSAIdType" minOccurs="0"/>
			<xs:element name="healthcareProfessionalName" type="xs:string" minOccurs="0"/>
			<xs:element name="healthcareProfessionalRoleCode" type="tns:CVType" minOccurs="0"/>
			<xs:element name="healthcareProfessionalOrgUnit" type="tns:OrgUnitType" minOccurs="0"/>
			<xs:element name="healthcareProfessionalCareUnitHSAId" type="tns:HSAIdType" minOccurs="0"/>
			<xs:element name="healthcareProfessionalCareGiverHSAId" type="tns:HSAIdType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgUnitType">
		<xs:annotation>
			<xs:documentation>
                Information om en organisationsenhet
                
                orgUnitHsaId: 
                HSA-id för organisationsenhet
                orgUnitName
                Namn på organisationsenhet
                orgUnitTelecom: 
                Telefon till organisationsenhet
                orgUnitEmail: 
                Epost till enhet
                orgUnitAddress: 
                Postadress till enhet
                orgUnitLocation: 
                Text som anger namnet på plats eller ort för enhetens eller funktionens fysiska placering
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orgUnitHSAId" type="tns:HSAIdType" minOccurs="0"/>
			<xs:element name="orgUnitName" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitTelecom" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitEmail" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitAddress" type="xs:string" minOccurs="0"/>
			<xs:element name="orgUnitLocation" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CVType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystem" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemName" type="xs:string" minOccurs="0"/>
			<xs:element name="codeSystemVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="displayName" type="xs:string" minOccurs="0"/>
			<xs:element name="originalText" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IIType">
		<xs:sequence>
			<xs:element name="root" type="xs:string"/>
			<xs:element name="extension" type="xs:string" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImagingOutcomeType">
		<xs:sequence>
			<xs:element name="imagingOutcomeHeader" type="tns:PatientSummaryHeaderType"/>
			<xs:element name="imagingOutcomeBody" type="tns:ImagingBodyType" minOccurs="1"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImagingBodyType">
		<xs:sequence>
			<xs:element name="examinationSpeciality" type="tns:CVType" minOccurs="0"/>
			<xs:element name="typeOfResult" type="codes:TypeOfResultCodeEnum"/>
			<xs:element name="resultTime" type="tns:TimeStampType" minOccurs="1"/>
			<xs:element name="resultReport" type="xs:string" minOccurs="1"/>
			<xs:element name="resultComment" type="xs:string" minOccurs="0"/>
			<xs:element name="radiationDose" type="tns:PQType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patientData" type="tns:PatientDataType" minOccurs="0"/>
			<xs:element name="imageRecording" type="tns:ImageRecordingType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referral" type="tns:ECGReferralType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageStructuredDataType">
		<xs:sequence>
			<xs:element name="aperture" type="tns:PQType" minOccurs="0"/>
			<xs:element name="exposureTime" type="tns:PQType" minOccurs="0"/>
			<xs:element name="imageCreationTime" type="tns:TimeStampType" minOccurs="0"/>
			<xs:element name="bodyPartExamined" type="tns:CVType" minOccurs="0"/>
			<xs:element name="contrastAgentUsed" type="xs:string" minOccurs="0"/>
			<xs:element name="magneticFieldStrength" type="tns:PQType" minOccurs="0"/>
			<xs:element name="copyright" type="xs:string" minOccurs="0"/>
			<xs:element name="imageData" type="tns:ImageDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageDataType">
		<xs:sequence>
			<xs:element name="mediaType" type="codes:MediaTypeEnum" minOccurs="1"/>
			<xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
			<xs:element name="reference" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="burnedInaAnnotations" type="xs:boolean" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatientDataType">
		<xs:sequence>
			<xs:element name="patientWeight" type="tns:PQType" minOccurs="0"/>
			<xs:element name="patientLength" type="tns:PQType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModalityDataType">
		<xs:sequence>
			<xs:element name="typeOfModality" type="xs:string" minOccurs="0"/>
			<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
			<xs:element name="modelName" type="xs:string" minOccurs="0"/>
			<xs:element name="equipmentId" type="xs:string" minOccurs="0"/>
			<xs:element name="softwareVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="lineFilter" type="tns:PQType" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageRecordingType">
		<xs:sequence>
			<xs:element name="recordingId" type="tns:IIType" minOccurs="0"/>
			<xs:element name="examinationActivity" type="tns:CVType" minOccurs="1"/>
			<xs:element name="examinationTimePeriod" type="tns:TimePeriodType" minOccurs="1"/>
			<xs:element name="examinationStatus" type="codes:ExaminationStatusCodeEnum" minOccurs="0"/>
			<xs:element name="examinationUnit" type="xs:string" minOccurs="0"/>
			<xs:element name="accountableHealthcareProfessional" type="tns:HealthcareProfessionalType" minOccurs="0"/>
			<xs:element name="numberOfImages" type="xs:int" minOccurs="0"/>
			<xs:element name="modalityData" type="tns:ModalityDataType" minOccurs="0"/>
			<xs:element name="imageDicomData" type="tns:DicomDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="imageStructuredData" type="tns:ImageStructuredDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DicomDataType">
		<xs:sequence>
			<xs:element name="dicomSOP" type="xs:string"/>
			<xs:element name="dicomValue" type="xs:base64Binary" minOccurs="0"/>
			<xs:element name="dicomReference" type="xs:anyURI" minOccurs="0"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Tagit bort typenPostDeliveryRecordType -->
	
	<!-- Tagit bort typen MotherPostDeliveryRecordType -->

	<!-- Tagit bort typen ChildPostDeliveryRecordType -->

	<!-- Tagit bort typen MaternityMedicalRecordType -->

	<!-- Tagit bort typen MaternityMedicalRecordBodyType -->

	<!-- Tagit bort typenRegistrationRecordType -->

	<!-- Tagit bort typen PreviousGravidityAndParityType -->

	<!-- Tagit bort typen MedicationType -->

	<!-- Tagit bort typenPregnancyCheckupRecordType -->

	<xs:complexType name="ReferralOutcomeType">
		<xs:sequence>
			<xs:element name="referralOutcomeHeader" type="tns:PatientSummaryHeaderType"/>
			<xs:element name="referralOutcomeBody" type="tns:ReferralOutcomeBodyType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferralOutcomeBodyType">
		<xs:sequence>
			<xs:element name="referralOutcomeTypeCode" type="codes:ReferralOutcomeTypeCodeEnum"/>
			<xs:element name="referralOutcomeTitle" type="xs:string" minOccurs="0"/>
			<xs:element name="referralOutcomeText" type="xs:string"/>
			<xs:element name="clinicalInformation" type="tns:ClinicalInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="act" type="tns:ActType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referral" type="tns:ReferralType"/>
			<xs:element ref="m1:attested" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClinicalInformationType">
		<xs:sequence>
			<xs:element name="clinicalInformationCode" type="tns:ClinicalInformationCodeType"/>
			<xs:element name="clinicalInformationText" type="xs:string"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClinicalInformationCodeType">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeSystem" type="tns:ClinicalInformationCodeCodeSystemType"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClinicalInformationCodeCodeSystemType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.2.752.116.1.1.1.1.3"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
