igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/ArticleInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="ArticleInformation">
        <xs:sequence>
            <xs:element name="nplPackid" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Identitet på förskrivet läkemedel som har NPL<br/>Pack-id alternativt SB Pack-id.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="distributedTradeName" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Läkemedelsnamn vid inläsningstillfället.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="drugForm" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Läkemedelsform vid inläsningstillfället.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="strength" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Styrka i klartext vid inläsningstillfället.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="atcCode" type="fhir:code" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>ATC-kod vid inläsningstillfället</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="atcText" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Verksamt ämne vid inläsningstillfället.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="packageSize" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förpackningsstorlek vid inläsningstillfället, exempelvis '6x5x0,72 milliliter'. Ej angivet för dosdispenserade artiklar.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="packageType" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Beskrivning av artikelns förpackningstyp vid inläsningstillfället.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
