igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/DistributedDrug.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="DistributedDrug">
        <xs:sequence>
            <xs:element name="NPLid" type="fhir:Identifier" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>id som identifierar läkemedelsprodukt.<br/>Hämtas från SIL.<br/>Ex. Alvedon tablett 500 mg.<br/>Obligatorisk parameter om Varunr saknas (dvs. om ordinationen ej gäller handelsvara).<br/>NPL = Nationellt Produktregister för Läkemedel, registrerade på Läkemedelsverket.<br/>Obs att ingen interaktionskontroll i Sfinx kan göras utan NPL-id.<br/>Är obligatorisk även vid ordination i NOD 1.0 (annars funkar inte interaktionskoll i SIL/Sfinx)<br/>Ingår i Expedieringsunderlag.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="tradeName" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Namn vid det tillfälle då ordinationen upprättades. Hämtas från SIL och sparas i NOD för att spårbarheten ska behållas även om benämningen ändras över tid.<br/>Möjlighet att utnyttja detta fält för ”fritextordination” måste testas (t.ex. för studieläkemedel eller ”okänt läkemedel”).</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="notInterchangable" type="xs:boolean" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Markering att ordinerad vara ej får bytas ut vid expediering<br/>Falskt = Får bytas ut<br/>Sant = Får ej bytas ut<br/>Notera att beslutet att produkten inte får bytas ut normalt sker av medicinska skäl och att det därför inte enbart kan finnas på Expedieringsunderlaget.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
