igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/DosageStep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="DosageStep">
        <xs:sequence>
            <xs:element name="duration" type="tns:Period" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>den tid under vilket läkemedlet ska användas enligt ordination, t.ex. 4 veckor, 5–6 veckor</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="isMaxDuration" type="xs:boolean" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>flagga som anger om attributet behandlingstid avser den maximala tid som läkemedlet får användas.<br/>Flaggan är satt till FALSE som förvalt värde, dvs. den anger att behandlingstiden inte är en maxtid.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="doseUnit" type="xs:string" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>den enhet som doseringen avser, t.ex. tablett, ml eller droppe</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="regularDosage" type="tns:DosageType_virtual" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>dosering där ordinatören har bestämt mängd och periodicitet, t.ex. 2 tabletter 3 gånger dagligen</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="maxDosage" type="tns:DosageType_virtual" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>dosering som anger den högsta tillåtna mängden under en viss period, t.ex. högst 5 tabletter per vecka</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="conditionalDosage" type="tns:DosageType_virtual" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>ordinerad mängd och periodicitet som gäller om ett visst villkor är uppfyllt, t.ex. 1-2 tabletter till natten</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>text som anger villkor kopplat till en villkorsdosering, t.ex. "vid behov".<br/>Anges endast om attributet villkorsdosering förekommer.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="shortNotation" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>angiven kortnotation som beskriver doseringen</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
