igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/DosageByOccasion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="DosageByOccasion">
        <xs:sequence>
            <xs:element name="occasions" type="tns:Occasion" minOccurs="1" maxOccurs="unbounded" >
                <xs:annotation> <xs:documentation>det eller de Doseringstillfällen som anger mängd och tidpunkt inom perioden</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="periodDuration" type="xs:int" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Periodtid för intagen i dagar.<br/>Vid regelbunden (daglig) dosering är periodlängd = 1, vid intag varannan dag är periodlängd = 2 osv. <br/>Valideras att angivet värde är &gt;0 och &lt;= 28</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="periodTrigger" type="tns:PeriodTriggerEnum" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Anger vilken händelse som utgör start för perioden. <br/>Endast relevant då annan periodlängd än 1 anges. Vid t.ex. veckoschema är nödvändigt att ange om dag i period för ett Doseringstillfälle ska beräknas utifrån första dagen i veckan eller från insättningstiden. Genom att utgår från första dagen i veckan underlättas kan doseringen förbli oförändrad vid förlängning av pågående läkemedelsbehandlingar oavsett när i i perioden förlängningen sker.<br/>{ Treatment, Week}<br/>Insättningstid: perioden startar vid insättningstidpunkten.<br/>Vecka: perioden startar vid veckans första dag = måndag. För en behandling med insättning på en onsdag (dag 3) innebär det att doseringstillfällena för denna första dag i behandlingen dag är de med dagIPeriod=3. <br/>(ny 2015)</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
