igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/EHMAuthenticationSupplement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="EHMAuthenticationSupplement">
        <xs:sequence>
            <xs:element name="personalPrescriptionCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens individuella förskrivarkod (7 tecken), legitimationskod (6 tecken) eller förskrivarens gruppförskrivarkod då individuell kod saknas. <br/>Obligatorisk parameter om teknisk sprit eller läkemedel förskrivs.<br/>Gruppförskrivarkod används då förskrivaren saknar individuell förskrivarkod men via sin roll har erhållit förskrivningsrätt. Kan exempelvis vara en AT-läkare eller förskrivare med förordnande. Förskrivarkoden definieras av Socialstyrelsen och gruppförskrivarkoden definieras av EHM.<br/>För användare som har gruppförskrivarkod gäller:<br/>befattningskod är obligatorisk <br/>För läkare (LK) - yrkeskod (dvs LK) är obligatorisk.<br/>Vid övriga yrken – yrkeskod och giltig legitimationskod är obligatoriska<br/><br/>Valideras i AFF<br/>HSA: förskrivarkod, även kallat personalPrescriptionCode <br/>RR: förskrivarkod<br/>argos: forskrivarkod</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="legitimationCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens 7-ställiga förskrivarkod alternativt 6-ställiga legitimationskod. Legitimationskod för förskrivare är annars de 6 första siffrorna i förskrivarkoden.<br/>Se gruppförskrivarkod för villkor.<br/>HSA: Legitimationskod för leg.vårdpersonal (sjuksköterskor) saknas i HSA. Det finns grupplegitimationskoder som kan användas.<br/>yrkeskodGruppkodyrkeskod klartext<br/>SJ971000Sjuksköterska<br/>AP972000Apotekare<br/>RC973000Receptarie<br/>RR: legitimationskod<br/>argos: legitimationskod</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="hsaTitleCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Yrkeskod som definierar vilken typ av legitimation som användaren innehar.<br/>Se gruppförskrivarkod för villkor.<br/>Kontrolleras i receptregistret att personen har angiven yrkeskod.<br/>Valideras i AFF<br/>HSA:Legitimerad yrkesgrupp, även kallad hsaTitle innehåller yrkeskoden i klartext. Detta fält (yrkeskod) avser dock motsvarande tvåställiga kod. Se:“HSA Innehåll Legitimerad Yrkesgrupp” på se www.inera.se/hsa.<br/>Notera också att samma användare kan inneha flera yrkesgrupper, t.ex. både Läkare och Sjuksköterska.<br/>RR: yrkeskod<br/>argos: yrkesgrupp</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="paTitleCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens befattningskod.<br/>Se gruppförskrivarkod för villkor.<br/>HSA: befattningskod, även kallat paTitleCode.<br/>Notera också att samma användare kan inneha flera befattningskoder.<br/>RR: befattningskod<br/>argos: befattningskod</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="givenName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens tilltalsnamn.<br/>HSA: tilltalsnamn (givenName)<br/>RR: förnamn<br/>argos: fornamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="familyName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens efternamn.<br/>Valideras i AFF <br/>HSA: efternamn<br/>RR: efternamn<br/>argos: efternamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="unitPrescriptionCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens arbetsplatskod eller grupparbetsplatskod<br/>Unik kod för identifiering av ordinatörens arbetsplats vid förskrivningstillfället. <br/>Arbetsplatskoden anges, hos vissa vårdgivare, för att styra ekonomiska transaktioner vid ordinationer inom förmånen. Det är vårdgivarna som själva hanterar arbetsplatskoderna genom att registrera dem i EHM:s ARKO. <br/>Saknar ordinatören ordinarie arbetsplats anges en grupparbetsplatskod. <br/><br/>Obligatorisk parameter om förmån angivits.<br/>Valideras i AFF<br/>HSA: arbetsplatskod, även kallat unitPrescriptionCode.<br/>RR: arbetsplatskod<br/>argos: arbetsplatskod</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="careUnitName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens lokalitet (adress 1). Ej gatunummer. Exempelvis: Vårdcentralen Humlan eller Privat, Kirurgi/ortopedi<br/>HSA: enhetsnamn (careUnitName )<br/>RR: arbetsplatsnamn<br/>argos: arbetsplatsnamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens postort. Exempelvis: HULTSFRED<br/>RR: arbetsplatsort<br/>argos: postort</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="phoneNumber" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens telefonnummer.<br/>HSA: direkttelefon <br/>RR: telefonnummer1<br/>argos: telefonnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="postalAdress" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens gatuadress. Exempelvis: Storgatan 14B.<br/>HSA: postadress (postalAddress). Består av flera adressrader, som lämpligen konkateneras med komma som skiljetecken.<br/>RR: postadress<br/>argos: postadress</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Förskrivarens eller vårdcentralens postnummer. Exempelvis: 123 45<br/>HSA: postnummer (postalCode)<br/>RR: postnummer<br/>argos: postnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="organizationCode" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Användarens organisationsnummer<br/>HSA: careGiverOrgNo<br/>argos: organisationsnummer</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="requestId" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>argos: requestId</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="roleName" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Den roll som den autentiserade användaren agerar som. För yrkesgrupp Läkare ska FORSKRIVARE  användas, sjuksköterskor ska använda LEG_VARDPERSONAL.<br/>argos: rollnamn</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="hsaID" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>HSA-id för användaren.<br/>argos: hsaID</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
