igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/MedicationStatementSequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="MedicationStatementSequence">
        <xs:sequence>
            <xs:element name="id" type="fhir:Identifier" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Unikt id för Egenmedicineringsbehandlingen.<br/>Skapas av NOD vid registrering då instansen skapas, dvs. då första egenmedicineringen registreras.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="patientId" type="fhir:Identifier" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Identifiering av patienten.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="startOfTreatment" type="xs:dateTime" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Motsvarar insättningstidpunkt för första instansen i sekvensen.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="medicationStatements" type="tns:MedicationStatement" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation> <xs:documentation>Egenmedicineringar (inom Egenmedicineringsbehandlingen) såväl gällande som historiska.<br/>Eftersom klassen används som retur i urval kan dessa vara begränsade pga. urval. De instanser som refereras från behandlingssteg kommer dock alltid att finnas med.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="treatmentSteps" type="tns:TreatmentStep" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation> <xs:documentation>Behandlingssteg (inom Egenmedicineringsbehandlingen). <br/>Eftersom klassen används som retur i urval kan dessa vara begränsade pga. urval.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="status" type="fhir:code" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Aktuell status på behandlingen. Någon av: active , on hold,  completed, entered in error, stopped, superceded<br/>Se fullständig beskrivning http://hl7.org/implement/standards/fhir/medication-prescription-status.html</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
