igs/TKB_clinicalprocess_activityprescription_prescribe/input/files/schema/MedicationStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="MedicationStatement">
        <xs:sequence>
            <xs:element name="registrationData" type="tns:RegistrationData" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>id, registrerad av och registreringstidpunkt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="patientId" type="fhir:Identifier" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Identifiering av patienten.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="treatmentStartTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Tidpunkt då patienten uppger att behandlingen påbörjats.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="treatmentEndTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Tidpunkt då patienten uppger att Egenmedicineringen avslutats eller planerar att avsluta den.<br/>Om attributet inte anges innebär det att Egenmedicineringen pågår tills vidare utan känd sluttid. <br/>Tidpunkten får, om den anges, inte vara före insättningstidpunkt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="annotation" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Kommentarer i fritext av registrerande Hälso- och sjukvårdspersonal, t.ex. bedömning av medicineringens verkan samt av patienten uppgivna effekter eller biverkningar.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="purpose" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Av patienten uppgivet behandlingsändamål i klartext.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="medication" type="tns:Medication_virtual" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Det läkemedel (eller handelsvara) som Egenmedicineringen avser.<br/>Det är kanske inte troligt att patienten kan uppge läkemedlet så exakt att en det kan kopplas till en Läkemedelsartikel eller Läkemedelsprodukt, även om möjligheten finns. Istället är det troligare att det anges som Fritextläkemedel varvid även ATC-kod kan registreras om det är känt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dosage" type="dosage:Dosage" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>I möjligaste mån bör doseringen anges strukturerat enligt vårdens doseringsmodell. Där så inte är möjligt finns alltid möjligheten att (i doseringsmodellen) ange doseringen som fri text.<br/>I vissa fall (t.ex. vid ordination av handelsvaror) är dosering irrelevant och kan utelämnas.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="informationSource" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Uppgift om den person som tillhandahållit uppgiften, vanligtvis patienten själv, annan behandlande läkare eller någon närstående. Om inget värde anges antas uppgiften komma från patienten själv.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MedicationStatement_setter">
        <xs:sequence>
            <xs:element name="treatmentStartTime" type="xs:dateTime" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Tidpunkt då patienten uppger att behandlingen påbörjats.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="treatmentEndTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Tidpunkt då patienten uppger att Egenmedicineringen avslutats eller planerar att avsluta den.<br/>Om attributet inte anges innebär det att Egenmedicineringen pågår tills vidare utan känd sluttid. <br/>Tidpunkten får, om den anges, inte vara före insättningstidpunkt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="annotation" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Kommentarer i fritext av registrerande Hälso- och sjukvårdspersonal, t.ex. bedömning av medicineringens verkan samt av patienten uppgivna effekter eller biverkningar.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="purpose" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Av patienten uppgivet behandlingsändamål i klartext.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="medication" type="tns:Medication_virtual" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Det läkemedel (eller handelsvara) som Egenmedicineringen avser.<br/>Det är kanske inte troligt att patienten kan uppge läkemedlet så exakt att en det kan kopplas till en Läkemedelsartikel eller Läkemedelsprodukt, även om möjligheten finns. Istället är det troligare att det anges som Fritextläkemedel varvid även ATC-kod kan registreras om det är känt.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dosage" type="dosage:Dosage" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>I möjligaste mån bör doseringen anges strukturerat enligt vårdens doseringsmodell. Där så inte är möjligt finns alltid möjligheten att (i doseringsmodellen) ange doseringen som fri text.<br/>I vissa fall (t.ex. vid ordination av handelsvaror) är dosering irrelevant och kan utelämnas.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="informationSource" type="xs:string" minOccurs="0" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Uppgift om den person som tillhandahållit uppgiften, vanligtvis patienten själv, annan behandlande läkare eller någon närstående. Om inget värde anges antas uppgiften komma från patienten själv.</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
