igs/TKB_clinicalprocess_healthcond_actoutcome/source/rivta-domains-riv.clinicalprocess.healthcond.actoutcome-f0eee8ac0f42/test-suite/GetReferralOutcome/constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

	<iso:title>Validation for GetReferralOutcome</iso:title>
	<iso:ns prefix='urn' uri='urn:riv:clinicalprocess:healthcond:actoutcome:GetReferralOutcomeResponder:3' />
	<iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:healthcond:actoutcome:3' />
	<iso:ns prefix='soapenv' uri='http://schemas.xmlsoap.org/soap/envelope/'/>

	<iso:pattern abstract="true" id="pattern.CvType">
		<iso:rule context="$path">
			<iso:assert test="count(urn1:code) + count(urn1:originalText) = 1">
                In $path, ONE of code or originalText must be given.</iso:assert>
		</iso:rule>
		<iso:rule context="$path/urn1:code">
			<iso:assert test="count(../urn1:codeSystem) + count(../urn1:displayName) = 2">
                In $path if <iso:name/> is given, codeSystem and displayName must be given.</iso:assert>
			<iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
		</iso:rule>
		<iso:rule context="$path/urn1:codeSystem">
			<iso:assert test="count(../urn1:code) + count(../urn1:displayName) = 2">
                In $path if <iso:name/> is given, code and displayName must be given.</iso:assert>
			<iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
			<iso:assert test="matches(.,'^[0-2](\.([0-9])+)+$')">
                Element 'codeSystem' must be an OID for the current codeSystem.</iso:assert>
		</iso:rule>
		<iso:rule context="$path/urn1:displayName">
			<iso:assert test="count(../urn1:code) + count(../urn1:codeSystem) = 2">
                In $path if <iso:name/> is given, code and codeSystem must be given.</iso:assert>
			<iso:assert test="count(../urn1:originalText)= 0">
                In $path if <iso:name/> is given, originalText must not be given.</iso:assert>
		</iso:rule>
		<iso:rule context="$path/urn1:originalText">
			<iso:assert test="count(../urn1:code) + count(../urn1:codeSystem) + count(../urn1:displayName) = 0">
                In $path if <iso:name/> is given, code, codeSystem and displayName must not be given.</iso:assert>
		</iso:rule>
	</iso:pattern>

	<!-- Implementing abstract patterns -->
	<iso:pattern id="Verify healthcareProfessionalRoleCode" is-a="pattern.CvType">
		<iso:param name="path" value="urn1:healthcareProfessionalRoleCode" />
	</iso:pattern>

	<!-- Logical rules -->
	<iso:pattern id="referralOutcomeHeader">
		<iso:rule context="urn1:referralOutcomeHeader">
			<iso:assert test="urn1:documentTime">Element referralOutcomeHeader: documentTime must be given</iso:assert>
			<iso:assert test="not(urn1:nullified)">Element referralOutcomeHeader: nullified must not be given.</iso:assert>
			<iso:assert test="not(urn1:nullifiedReason)">Element referralOutcomeHeader: nullifiedReason must not be given.</iso:assert>
		</iso:rule>
	</iso:pattern>	
	
	<iso:pattern id="referralOutcomeBody">
		<iso:rule context="urn1:referralOutcomeBody">
			<iso:assert test="urn1:referralOutcomeTypeCode = 'SR' or urn1:referralOutcomeTypeCode = 'SS'">Element referralOutcomeBody: referralOutcomeTypeCode must be 'SR' or 'SS'.</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<iso:pattern id="legalAuthenticator">
		<iso:rule context="urn1:legalAuthenticator">
			<iso:assert test="not(urn1:legalAuthenticatorRoleCode)">Element legalAuthenticator: legalAuthenticatorRoleCode must not be given.</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<iso:pattern name="act">
		<iso:rule context="urn1:act">
			<iso:assert test="urn1:actText">Element act: actText must be given.</iso:assert>
		</iso:rule>
		<iso:rule context="urn1:act/urn1:actResult">
			<iso:assert test="not(urn1:id)">Element actResult: id must not be given.</iso:assert>
			<iso:assert test="count(urn1:value) + count(urn1:reference) = 1">Element actResult: either one of value or reference must be given.</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<iso:pattern name="referralAuthor">
		<iso:rule context="urn1:referralAuthor">
			<iso:assert test="not(urn1:healthcareProfessionalCareUnitHSAId)">Element referralAuthor: healthcareProfessionalCareUnitHSAId must not be given.</iso:assert>
			<iso:assert test="not(urn1:healthcareProfessionalCareGiverHSAId)">Element referralAuthor: healthcareProfessionalCareGiverHSAId must not be given.</iso:assert>
		</iso:rule>
	</iso:pattern>
	
	<iso:pattern id="Verify non-empty elements">
        <iso:rule context="soapenv:Body/urn:GetReferralOutcomeResponse//*">
		    <iso:assert test="normalize-space(.)">Element <iso:name /> is included but empty. All elements included in the response must have valid values.</iso:assert>
        </iso:rule>
    </iso:pattern>
	
	<iso:pattern id="Verify unique id elements">
		<iso:rule context="urn:GetReferralOutcomeResponse">
			<let name="recordIdPath" value="urn:referralOutcome/urn1:referralOutcomeHeader/urn1:documentId"/>
			<iso:assert test="count($recordIdPath) = count(distinct-values($recordIdPath))">Each record must have a unique documentId.</iso:assert>
			<let name="actIdPath" value="urn:referralOutcome/urn1:referralOutcomeBody/urn1:act/urn1:actId"/>
			<iso:assert test="count($actIdPath) = count(distinct-values($actIdPath))">Each record must have a unique actId.</iso:assert>
		</iso:rule>
	</iso:pattern>

</iso:schema>
