igs/TKB_clinicalprocess_activityprescription_prescribe/source/rivta-domains-riv.clinicalprocess.activityprescription.prescribe-eb73a47208d9/schemas/core_components/generated/generated_xsd_dosage/Occation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:activityprescription:prescribe:2"
    xmlns:fhir="http://hl7.org/fhir"
    xmlns:dosage='urn:riv:clinicalprocess:activityprescription:prescribe:2'
    targetNamespace="urn:riv:clinicalprocess:activityprescription:prescribe:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">
    
    

    <xs:complexType name="Occation">
        <xs:sequence>
            <xs:element name="dose" type="tns:Interval" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>den mängd läkemedel som ska intas eller appliceras</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="time" type="tns:TimeWithinDay" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>den tid eller det tillfälle under dygnet när läkemedlet ska intas eller appliceras</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:element name="dayInPeriod" type="xs:int" minOccurs="1" maxOccurs="1" >
                <xs:annotation> <xs:documentation>Dag i perioden när intag skall ske. <br/>Exempel: <br/>Intag ska ske varje måndag och onsdag och startdatum är på en måndag. <br/><br/>Måndag <br/>Insättningsdatum = 2010-01-01 <br/>Periodlängd = 7 <br/>Dag i period = 1 <br/><br/>Onsdag <br/>Insättningsdatum = 2010-01-01 <br/>Periodlängd = 7 <br/>Dag i period = 3 <br/><br/>dag i period &lt;= Tillfällesdosering.periodlängd</xs:documentation> </xs:annotation>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>




</xs:schema>
