igs/TKB_clinicalprocess_healthcond_actoutcome/source/rivta-domains-riv.clinicalprocess.healthcond.actoutcome-f0eee8ac0f42/test-suite/GetLaboratoryOrderOutcomeMock/constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

	<iso:title>Validation for GetLaboratoryOrderOutcome</iso:title>
	<iso:ns prefix='urn' uri='urn:riv:itintegration:registry:1'/>
	<iso:ns prefix='urn1' uri='urn:riv:clinicalprocess:healthcond:actoutcome:GetLaboratoryOrderOutcomeResponder:4'/>
	<iso:ns prefix='urn2' uri='urn:riv:clinicalprocess:healthcond:actoutcome:4'/>

	<!-- Rules for request -->
	<iso:pattern id="validate_request">
		<iso:rule id="rule001" context="urn1:GetLaboratoryOrderOutcome/urn1:patientId">
			<iso:assert test="not(urn2:root eq '1.2.752.129.2.1.3.1' or urn2:root eq '1.2.752.129.2.1.3.3' or urn2:root eq '1.2.752.74.9.1') or string-length(normalize-space(urn2:extension)) = 12">patiendId/extension must match pattern if PNR, SNR or NRID is used.</iso:assert>
		</iso:rule>
		<iso:rule id="rule002" context="urn1:GetLaboratoryOrderOutcome">
			<iso:assert test="(urn1:patientId/urn2:root eq '1.2.752.129.2.1.3.1' or urn1:patientId/urn2:root eq '1.2.752.129.2.1.3.3' or urn1:patientId/urn2:root eq '1.2.752.74.9.1') or exists(urn1:sourceSystemHSAId)">sourceSystemHSAId is mandatory when requesting on local patient id's.</iso:assert>
		</iso:rule>
	</iso:pattern>

  <iso:pattern id="No empty elements">
    <iso:rule context="urn1:GetLaboratoryOrderOutcome/*">
      <iso:assert test="normalize-space(.)">Element <iso:name/> should not be empty</iso:assert>
    </iso:rule>
  </iso:pattern>
</iso:schema>
